---
import type { FC } from 'react';

// src/components/pages/AppHome.astro
interface Props {
  lang: 'es' | 'en';
}

import PomodoroManager from './PomodoroManager';

const { lang } = Astro.props;
---



<div class="mt-8">
    <PomodoroManager client:only="react" lang={lang} />
</div>
